<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">
      <h1>Bitcoin</h1>
      <h3>$<%= prices.bitcoin %></h3>

      <canvas class="BTCChart" width="400" height="400"></canvas>

      <br>
      <% if (user.balance > prices.bitcoin) { %>
        <a class="waves-effect waves-light btn modal-trigger" href="#buyBitcoin">Buy</a>
      <% } else { %>
        <p> You don't have enough funds to purchase a Bitcoin </p>
      <% } %>
      <% if (user.portfolio.bitcoin) { %>
        <a class="waves-effect waves-light btn modal-trigger" href="#sellBitcoin">Sell</a>
      <% } %>

      <br>

      <div class="row">
        <div class="col s6">
          <h4><%= user.portfolio.bitcoin %></h4>
          <p>shares</p>
        </div>
        <div class="col s6">
          <h4>$<%= user.portfolio.bitcoin * prices.bitcoin %></h4>
          <p>Value</p>
        </div>
    </div>

    <div id="buyBitcoin" class="modal">
      <div class="modal-content">
        <h4>Confirm Purchase:</h4>
        <p>You are about to buy 1 Bitcoin for <%=prices.bitcoin%></p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="/bitcoin/<%= prices.bitcoin %>/buy?_method=put">
      		<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Buy</button>
      	</form>
      </div>
    </div>

    <div id="sellBitcoin" class="modal">
      <div class="modal-content">
        <h4>Confirm Sale:</h4>
        <p>You are about to sell 1 Bitcoin for <%=prices.bitcoin%></p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="/bitcoin/<%= prices.bitcoin %>/sell?_method=put">
      		<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Sell</button>
      	</form>
      </div>
    </div>
  </main>

</body>

</html>
