<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="/scripts/charts.js"></script>
</head>
<body class="container">

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">
      <h1><%= coin %></h1>
      <h3>$<%= prices[coin].toFixed(2) %></h3>

      <canvas class=<%= coin + "Chart" %> width="400" height="400"></canvas>

      <br>
      <% if (user.balance > prices[coin]) { %>
        <a class="waves-effect waves-light btn modal-trigger" href=<%="#buy"+user.username%>>Buy</a>
      <% } else { %>
        <p> You don't have enough funds to purchase <%=coin%> </p>
      <% } %>
      <% if (user.portfolio[coin]) { %>
        <a class="waves-effect waves-light btn modal-trigger" href=<%="#sell"+user.username%>>Sell</a>
      <% } %>

      <br>

      <div class="row">
        <div class="col s6">
          <h4><%= user.portfolio[coin] %></h4>
          <p>shares</p>
        </div>
        <div class="col s6">
          <h4>$<%= (user.portfolio[coin] * prices[coin]).toFixed(2) %></h4>
          <p>Value</p>
        </div>
    </div>

    <% if (user.portfolio[coin] > 0 ) { %>
      <div>
        <div>
          <h4> Average Cost: <%=(user.costs[coin]).toFixed(2) %> </h4>
        </div>
        <% let costDiff = prices[coin] - user.costs[coin] %>
        <div>
          <h4>
            Total Return: $<%= (costDiff * user.portfolio[coin]).toFixed(2) %>
            (<%=((costDiff/user.costs[coin]) * 100).toFixed(2)  %>%)
          </h4>
        </div>
      </div>
    <% } %>

    <a href="/profile" class="">Back to profile</a>

    <div id=<%= "buy" + user.username %> class="modal">
      <div class="modal-content">
        <h4>Confirm Purchase:</h4>
        <p>How many <%= coin %> tokens would you like to buy at $<%=prices[coin]%> each?</p>
      </div>
      <form method="POST" action="/<%=coin%>/<%= prices[coin] %>/buy?_method=put">
        <input type="number" name="numCoins" value="1" class="coinAmount" min="1" max="<%= Math.floor(user.balance/prices[coin]) %>">
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn">Buy</button>
      </form>
    </div>

    <div id=<%= "sell" + user.username %> class="modal">
      <div class="modal-content">
        <h4>Confirm Sale:</h4>
        <p>How many <%= coin %> tokens would you like to sell at <%=prices[coin]%> each?</p>
      </div>
      <form method="POST" action="/<%=coin%>/<%= prices[coin] %>/sell?_method=put">
        <input type="number" name="numCoins" value="1" class="coinAmount" min="1" max="<%= user.portfolio[coin] %>">
    		<button type="submit" class="modal-action modal-close waves-effect waves-green btn">Sell</button>
    	</form>
    </div>
  </main>

</body>

</html>
