<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">

      <% let totalValue = user.balance %>
      <% user.portfolio.schema.eachPath(function(path) {
        if (path != '_id') { totalValue += user.portfolio[path] * prices[path] }
      }) %>

      <h3> Welcome <%= user.name %> <h3>

      <h4> Your net worth: $<%= (totalValue).toFixed(2) %> </h4>
      <% let diff = totalValue - user.startingValue %>
      <% if (diff > 0) { %>
        <p>&uarr; + <%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } else if (diff < 0) { %>
        <p>&darr; <%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } %>

      <h5>Cash: $<%= user.balance.toFixed(2)%>  </h5>

      <table>
        <thead>
          <tr>
              <th>Crypto Currency</th>
              <th>Shares You Own</th>
              <th>Current Price</th>
              <th>Your Equity</th>
          </tr>
        </thead>

        <tbody class="table-body">
          <tr>
            <td><a href="/bitcoin/show">Bitcoin</a></td>
            <td><%= user.portfolio.bitcoin %></td>
            <td>$<%= prices.bitcoin %></td>
            <td>$<%= (user.portfolio.bitcoin * prices.bitcoin).toFixed(2) %></td>
          </tr>
          <tr>
            <td><a href="/ethereum/show">Ethereum</a></td>
            <td><%= user.portfolio.ethereum %></td>
            <td>$<%= prices.ethereum %></td>
            <td>$<%= (user.portfolio.ethereum * prices.ethereum).toFixed(2) %></td>
          </tr>
          <tr>
            <td><a href="/zcash/show">Z Cash</a></td>
            <td><%= user.portfolio.zcash %></td>
            <td>$<%= prices.zcash %></td>
            <td>$<%= (user.portfolio.zcash * prices.zcash).toFixed(2) %></td>
          </tr>
          <tr>
            <td><a href="/dash/show">Dash</a></td>
            <td><%= user.portfolio.dash %></td>
            <td>$<%= prices.dash %></td>
            <td>$<%= (user.portfolio.dash * prices.dash).toFixed(2) %></td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>

      <div class="center-align">
        <a href="/users/logout" class="btn">Logout</a>
      </div>

    </div>
  </main>

</body>

</html>
