<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">

      <h3> Welcome <%= user.name %> <h3>

      <h4> Your net worth: $<%= (user.balance
        + user.portfolio.ethereum * prices.ethereum
        + user.portfolio.bitcoin * prices.bitcoin).toFixed(2) %> </h4>

      <h5>Cash: $<%= user.balance.toFixed(2) %></h5>

      <table>
        <thead>
          <tr>
              <th>Crypto Currency</th>
              <th>Shares You Own</th>
              <th>Current Price</th>
              <th>Your Equity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="/bitcoin/show">Bitcoin</a></td>
            <td><%= user.portfolio.bitcoin %></td>
            <td>$<%= prices.bitcoin %></td>
            <td>$<%= user.portfolio.bitcoin * prices.bitcoin %></td>
          </tr>
          <tr>
            <td><a href="/ethereum/show">Ethereum</a></td>
            <td><%= user.portfolio.ethereum %></td>
            <td>$<%= prices.ethereum %></td>
            <td>$<%= (user.portfolio.ethereum * prices.ethereum).toFixed(2) %></td>
          </tr>
          <!-- <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr> -->
        </tbody>
      </table>


      <canvas class="BTCChart" width="400" height="400"></canvas>

      <div class="center-align">
        <a href="/users/logout" class="btn">Logout</a>
      </div>

    </div>
  </main>

</body>

</html>
