<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">

      <% let totalValue = user.balance %>
      <% user.portfolio.schema.eachPath(function(path) {
        if (path != '_id') { totalValue += user.portfolio[path] * prices[path] }
      }) %>

      <h3> Welcome, <%= user.name %> <h3>

      <h4> Total Value: $<%= (totalValue).toFixed(2) %> </h4>
      <% let diff = totalValue - user.startingValue %>
      <% if (diff > 0) { %>
        <p class="positive-return portfolio-return">&uarr; + $<%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } else if (diff < 0) { %>
        <p class="negative-return portfolio-return">&darr; $<%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } %>

      <h5>Buying Power: $<%= user.balance.toFixed(2)%>  </h5>

      <table class="centered bordered main-table">
        <thead>
          <tr>
              <th>Cryptocurrency</th>
              <th>Shares You Own</th>
              <th>Current Price</th>
              <th>Your Equity</th>
              <th>Return Per Token</th>
          </tr>
        </thead>

        <tbody class="table-body">
          <% let coinArr = ["bitcoin", "ethereum", "zcash", "dash", "litecoin"]
             for (let index in coinArr) {
                let coin = coinArr[index] %>
                <tr class='clickable-row' data-href="/<%= coin %>/show">
                  <td><big><a href="/<%= coin %>/show"><%= coin %></a></big></td>
                  <td><%= user.portfolio[coin] %></td>
                  <td>$<%= (prices[coin]).toFixed(2) %></td>
                  <td>$<%= (user.portfolio[coin] * prices[coin]).toFixed(2) %></td>
                  <% if (user.costs[coin]) { %>
                    <% let priceDiff = prices[coin] - user.costs[coin] %>
                    <td <% if (priceDiff >= 0) { %> class="positive-return"
                      <% } else { %> class="negative-return"<%}%>>
                      $<%= (priceDiff).toFixed(2) %>
                      (<%=(priceDiff/user.costs[coin] * 100).toFixed(2)%>%) %>
                    </td>
                  <% } else { %><td>N/A</td><% } %>
                </tr>
          <% } %>
        </tbody>
      </table>

      <br>
      <br>

      <div class="center-align">
        <a href="/users/logout" class="btn footer-btn">Logout</a>
      </div>

    </div>
  </main>

</body>

</html>
