<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
      <% include ../partials/header %>
  </header>

  <main>
    <div class="center-align">

      <% let totalValue = user.balance %>
      <% user.portfolio.schema.eachPath(function(path) {
        if (path != '_id') { totalValue += user.portfolio[path] * prices[path] }
      }) %>

      <h3> Welcome, <%= user.name %> <h3>

      <h4> Total Value: $<%= (totalValue).toFixed(2) %> </h4>
      <% let diff = totalValue - user.startingValue %>
      <% if (diff > 0) { %>
        <p class="positive-return">&uarr; + $<%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } else if (diff < 0) { %>
        <p class="negative-return">&darr; $<%=diff.toFixed(2)%> (<%=((diff/user.startingValue) * 100).toFixed(2)  %>%)</p>
      <% } %>

      <h5>Buying Power: $<%= user.balance.toFixed(2)%>  </h5>

      <table class="centered bordered main-table">
        <thead>
          <tr>
              <th>Cryptocurrency</th>
              <th>Shares You Own</th>
              <th>Current Price</th>
              <th>Your Equity</th>
              <th>Return Per Token</th>
          </tr>
        </thead>

        <tbody class="table-body">
          <tr class='clickable-row' data-href="/bitcoin/show">
            <td><big><a href="/bitcoin/show">Bitcoin</a></big></td>
            <td><%= user.portfolio.bitcoin %></td>
            <td>$<%= prices.bitcoin %></td>
            <td>$<%= (user.portfolio.bitcoin * prices.bitcoin).toFixed(2) %></td>
            <% if (user.costs.bitcoin) { %>
              <% let bitcoinDiff = prices.bitcoin - user.costs.bitcoin %>
              <td <% if (bitcoinDiff >= 0) { %> class="positive-return"
                <% } else { %> class="negative-return"<%}%>>
                $<%= (bitcoinDiff).toFixed(2) %>
                (<%=(bitcoinDiff/user.costs.bitcoin * 100).toFixed(2)%>%) %>
              </td>
            <% } else { %><td>N/A</td><% } %>
          </tr>
          <tr>
            <td><big><a href="/ethereum/show">Ethereum</a></big></td>
            <td><%= user.portfolio.ethereum %></td>
            <td>$<%= prices.ethereum %></td>
            <td>$<%= (user.portfolio.ethereum * prices.ethereum).toFixed(2) %></td>
            <% if (user.costs.ethereum) { %>
              <% let ethereumDiff = prices.ethereum - user.costs.ethereum %>
              <td <% if (ethereumDiff >= 0) { %> class="positive-return"
                <% } else { %> class="negative-return"<%}%>>
                $<%= (ethereumDiff).toFixed(2) %>
                (<%=(ethereumDiff/user.costs.ethereum * 100).toFixed(2)%>%) %>
              </td>
            <% } else { %><td>N/A</td><% } %>
          </tr>
          <tr>
            <td><big><a href="/zcash/show">Z Cash</a></big></td>
            <td><%= user.portfolio.zcash %></td>
            <td>$<%= prices.zcash %></td>
            <td>$<%= (user.portfolio.zcash * prices.zcash).toFixed(2) %></td>
            <% if (user.costs.zcash) { %>
              <% let zcashDiff = prices.zcash - user.costs.zcash %>
              <td <% if (zcashDiff >= 0) { %> class="positive-return"
                <% } else { %> class="negative-return"<%}%>>
                $<%= (zcashDiff).toFixed(2) %>
                (<%=(zcashDiff/user.costs.zcash * 100).toFixed(2)%>%) %>
              </td>
            <% } else { %><td>N/A</td><% } %>
          </tr>
          <tr>
            <td><big><a href="/dash/show">Dash</a></big></td>
            <td><%= user.portfolio.dash %></td>
            <td>$<%= prices.dash %></td>
            <td>$<%= (user.portfolio.dash * prices.dash).toFixed(2) %></td>
            <% if (user.costs.dash) { %>
              <% let dashDiff = prices.dash - user.costs.dash %>
              <td <% if (dashDiff >= 0) { %> class="positive-return"
                <% } else { %> class="negative-return"<%}%>>
                $<%= (dashDiff).toFixed(2) %>
                (<%=(dashDiff/user.costs.dash * 100).toFixed(2)%>%) %>
              </td>
            <% } else { %><td>N/A</td><% } %>
          </tr>
          <tr>
            <td><big><a href="/litecoin/show">Litecoin</a></big></td>
            <td><%= user.portfolio.litecoin %></td>
            <td>$<%= prices.litecoin %></td>
            <td>$<%= (user.portfolio.litecoin * prices.litecoin).toFixed(2) %></td>
            <% if (user.costs.litecoin) { %>
              <% let litecoinDiff = prices.litecoin - user.costs.litecoin %>
              <td <% if (litecoinDiff >= 0) { %> class="positive-return"
                <% } else { %> class="negative-return"<%}%>>
                $<%= (litecoinDiff).toFixed(2) %>
                (<%=(litecoinDiff/user.costs.litecoin * 100).toFixed(2)%>%) %>
              </td>
            <% } else { %><td>N/A</td><% } %>
          </tr>
        </tbody>
      </table>

      <br>
      <br>

      <div class="center-align">
        <a href="/users/logout" class="btn footer-btn">Logout</a>
      </div>

    </div>
  </main>

</body>

</html>
