<ul id="dropdown1" class="dropdown-content">
  <li><a href="/profile">Dashboard</a></li>
  <li><a href="/bitcoin/show">Bitcoin</a></li>
  <li><a href="/ethereum/show">Ethereum</a></li>
  <li><a href="/zcash/show">Z Cash</a></li>
  <li><a href="/dash/show">Dash</a></li>
  <li><a href="/litecoin/show">Litecoin</a></li>
  <li><a href="/users/logout">Logout</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <% if (user) { %>
        <a href="/profile" class="brand-logo center">Crypto-Exchange</a>
        <a href="#" data-activates="logged-in-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="logged-in-side-menu">
          <li><a>Username: <%= user.username %></a></li>
          <li><a>Buying Power: <%= user.balance.toFixed(2) %></a></li>
          <li><a href="/profile">Dashboard</a></li>
          <li><a href="/bitcoin/show">Bitcoin</a></li>
          <li><a href="/ethereum/show">Ethereum</a></li>
          <li><a href="/zcash/show">Z Cash</a></li>
          <li><a href="/dash/show">Dash</a></li>
          <li><a href="/litecoin/show">Litecoin</a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      <% } else { %>
        <a href="/" class="brand-logo center">Crypto-Exchange</a>
      <% } %>
    </div>
  </nav>
</div>

<% if (success_msg.length > 0) {%>
  <div class="col s4 card-panel green lighten-4 green-text text-darken-4"><%=success_msg%></div>
<% } %>
<% if (error_msg.length > 0) {%>
  <div class="col s4 card-panel red lighten-4 red-text text-darken-4"><%=error_msg%></div>
<% } %>
<% if (error.length > 0) {%>
  <div class="col s4 card-panel red lighten-4 red-text text-darken-4"><%= error %></div>
<% } %>
